body{
    background-color: #2D033B;
    color: #E5B8F4;
    list-style-position: inside;
    text-align: center;
}
a{
    color: #810CA8;
    text-decoration: none;
}
h2{
    color: #C147E9;
}